{% extends "base.html" %}

{% block title %} Error 500 {% endblock title %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
          <div class="card bg-light shadow border-3">
            <div class="card-header bg-transparent pb-5">

              <div class="text-muted text-center mt-2 mb-3">

                <h3>Error 500 - Not </h3>
                <p>Page Not Found</p>

              </div>
              
            </div>
            <div class="text-dark card-body text-center px-lg-5 py-lg-5">

                <a href="/">Home</a>

            </div>

          </div>

        </div>
      </div>
    </div>

{% endblock content %}